.containerListBestseller {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  overflow-x: auto;
}

.subgroup {
  min-width: 11em;
  max-width: 12em;
  min-height: 17em;
  max-height: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  margin: 1em;
  border: 1px solid grey;
  border-radius: .5em;
}

.subgroup:hover {
  border: 1px solid;
}

.containerSubGroupImage {
  width: 100%;
  height: 70%;
  /*position: relative;
  /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

/*.subgroupImage {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 90%;
}*/

.containerSubGroupNamePrice {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.subgroupName {
  font-size: .8em;
  font-weight: 600;
  text-align: center;
}

.containerPriceDetails {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.containerPriceNds {
  display: flex;
  align-items: flex-end;
}

.subgroupPrice {
  align-self: flex-start;
  font-size: 1em;
  font-weight: 700;
}

.nds {
  font-size: .6em;
}

.details {
  display: none;
  font-size: .6em;
  color: #FF3333;
}

.subgroup:hover>.containerSubGroupNamePrice>.containerPriceDetails>.details {
  display: block;
}