/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%,last 2 version,Safari >=7,IOS >=6
*/
.wrapper {
  width: 80%;
  min-height: 120vh;
  font-size: 1.2em;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
}

.name, .adress, .email, .timetable, .phones, .bank {
  margin: .5em 5%;
}

.wrapper > h1 {
  -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.4em;
  margin: 1em;
}

.phones {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper strong {
  margin-right: 1em;
}

@media all and (max-width: 550px) {
  .wrapper {
    width: 90%;
    font-size: 1em;
  }
}