footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1em 0;
}

.contacts {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 0 0 0;
  color: #f5f8f9;
  background-color: #275fb8;
}

.contacts > * {
  margin-bottom: 1em;
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address {
  margin-bottom: 1em;
}

.emailAddress:hover {
  color: #FF3333;
}

.timeTable {
  display: flex;
  flex-direction: column;
}

.timeTable>* {
  margin-bottom: .5em;
}

.phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phone {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em .5em 0;
}

.nameGloboBel, .nameGloboBel~div {
  margin-left: .5em;
}

@media all and (max-width: 480px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .addresses {
    align-self: flex-start;
    margin-left: .5em;
  }

  .timeTable {
    align-self: flex-end;
    margin-right: .5em;
  }
}