/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%,last 2 version,Safari >=7,IOS >=6
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/*color scheme **/
/*
#FF3333 - red
#275fb8 - blue from globe
#000000 - black
#ffffff - white
*/