* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*color scheme **/
/*
#FF3333 - red
#275fb8 - blue from globe
#000000 - black
#ffffff - white
*/