header {
  width: 100%;
}

.firstLevel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin: 1rem;
}

.iconLogo {
  height: 5em;
  width: auto;
}

.textLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: .2em;
}

.siteName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
  font-weight: 800;
}

.slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
  letter-spacing: -.03rem;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts>* {
  margin-right: 5rem;
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.emailAddress:hover {
  color: #FF3333;
}

.timeTable {
  display: flex;
  flex-direction: column;
}

.timeTable>* {
  margin-bottom: .5em;
}

.phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phone {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em .5em 0;
}