@media all and (min-width: 480px) {
  .header {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .header {
    width: 100%;
    min-height: 5.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em .5em;
    border-top: 1.4em solid #275fb8;
    border-bottom: .7em solid #275fb8;
  }

  .siteName {
    font-size: 1.3em;
    font-weight: 700;
    display: flex;
  }

  .icons {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
  }

  .navIcon {
    height: 1.5em;
    width: 1.5em;
  }

  }