.mainSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mainSection > h1 {
    font-size: 1.6em;
    text-align: center;
    margin: .5em .5em;
  }

  .listSubGroups {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  
  .subGroup {
    width: 13em;
    height: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin: 1em;
    border: 1px solid grey;
    border-radius: .5em;
    overflow: hidden;
  }
  
  .subGroup:hover {
    border: 1px solid;
  }
  
  .containerSubGroupImage {
    width: 100%;
    height: 90%;
  }
  
  .containerSubGroupNamePrice {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .subGroupName {
    font-size: 1.1em;
    text-align: center;
  }
  
  .containerPriceDetails {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .containerPriceNds {
    display: flex;
    align-items: flex-end;
  }
  
  .subgroupPrice {
    align-self: flex-start;
    font-size: 1.3em;
    font-weight: 600;
  }
  
  .nds {
    font-size: .8em;
  }
  
  .details {
    display: none;
    font-size: .8em;
    color: #FF3333;
  }
  
  .subgroup:hover>.containerSubGroupNamePrice>.containerPriceDetails>.details {
    display: block;
  }
  
  @media all and (max-width: 550px) {
    .mainSection {
      width: 100%;
      min-height: 150vh;
    }

    .mainSection > h1 {
      font-size: 1.2em;
    }

    .listSubGroups {
      justify-content: space-evenly;
    }

    .subGroup {
      width: 40%;
      height: 17em;
      margin: .5em;
    }
  }

  @media all and (max-width: 450px) {
    .subGroup {
      height: 14em;
    }
  }

  @media all and (max-width: 355px) {
    .subGroup {
      width: 70%;
      height: 18em;
    }
  }

  @media all and (max-width: 300px) {
    .subGroup {
      height: 16em;
    }
  }

  @media all and (max-width: 230px) {
    .subGroup {
      height: 13em;
    }
  }