.mainSection {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSection > h1 {
  font-size: 1.6em;
  text-align: center;
  margin: .5em .5em;
}

.listGroups {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;
 
}

.group {
  width: 14em;
  height: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  margin-bottom: 2em;
}

.group:hover {
  border: 1px solid;
}

.containerGroupImage {
  width: 100%;
  height: 77%;
  position: relative;
  /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.groupImage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.groupName {
  font-size: 1.2em;
  text-align: center;
}

.textMainPage {
  width: 90%;
}

.textMainPage> * {
  text-align: justify;
  text-indent: 1.6em;
  line-height: 1.4em;
  margin-bottom: 1.6em;
}

