.mainSection {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 1em;
}

.containerImage {
  width: 35%;
  height: 20em;
  margin: 0 1em;
}

.imageProduct {
  height: 100%;
  width: 100%;
}

.descriptionProduct {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.descriptionPriceProduct {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 5rem;
}

.descriptionProduct > h2 {
  margin-bottom: 3em;
}

.text {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}

.descriptionProduct > div, .text > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.text strong {
  margin-right: .5rem;
} 

.priceNds {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 1.5em;
  font-weight: 700;
}

@media all and (max-width: 480px) {
  .mainSection {
    width: 100%;
    min-height: 150vh;
    flex-direction: column;
  }

  .product {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }

  .containerImage {
    width: 70%;
    height: 22em;
  }

  .descriptionProduct {
    width: 90%;
  }

  .descriptionProduct > h2 {
    text-align: center;
  }
}